.section-about {
    padding-bottom: 2rem;
}

.title-about {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-align: center;
}

.text-about {
    line-height: 1.6;
    text-align: justify;
    margin-left: 10rem;;
    margin-right: 10rem;
}
