.custom-navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-scrolled {
  background-color: #000 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.custom-navbar .logo, .menu a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white !important;
}

.custom-navbar .menu a:hover {
  text-decoration: underline !important;
}