.custom-navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.7) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.custom-navbar .logo, .menu a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white !important;
}

.custom-navbar .menu a:hover {
  text-decoration: underline !important;
}

.custom-navbar .logo {
  cursor: pointer;
  color: white !important;
  position: relative;
  z-index: 1050; 
  line-height: 1; 
  padding: 0; 
  height: 100%; 
  display: flex;
  align-items: center;
}

.custom-navbar .logo:hover {
  text-decoration: underline !important;
  transform: none !important;
}

.menu .nav-link {
  color: white;
  position: relative;
  transition: all 0.3s ease;
}

@media (max-width: 991.98px) {
  .custom-navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    width: 100%;
    padding: 1rem;
    z-index: 999;
  }

  .custom-navbar .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .custom-navbar .menu .nav-link {
    padding: 0.5rem 0;
  }

  .navbar-toggler {
    background-color: white !important;
  }

}