.container-notfound {
  padding-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.img-notfound {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.link-notfound {
  color: #000;
  font-weight: bold;
}

.link-notfound:hover {
  font-style: italic;
}